.button-sound{
    height: 40px;
    width: 40px;
    display: inline-flex;
    text-decoration: none;
    border: solid rgb(191, 52, 204) 3px;
    cursor: pointer;
    margin-top: 0.2%;
    margin-left: 0.5%;
    border-radius: 100%;
    background: rgb(155, 74, 155, 0.2);
}

.button-sound:hover{
    background: rgb(155, 74, 155, 0.5);
}

.button-sound img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}