body{
  background-image: url("/images/BackgroundGallery.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

/*Sobreescritura de NavBar*/
nav{
  box-shadow: inset 0px 0px 9px -4px #FFFFFF;
  box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 0px #000000;
  box-shadow: 5px 5px 2px -3px #000000;
  box-shadow: 0px 0px 2px 2px #000000 , 0px 0px 50px 13px rgba(0,0,0,0.64);
  box-shadow: 5px 5px 26px 5px #000000, 0px 0px 2px 2px #ffffff;
  border-radius: 2px !important;
  background: none !important;
}

.sidebar{
  background-image: url("/images/slidebarGallery.jpg") !important;
}

/* .links{
  text-shadow: 3px 3px 0px #000000;
} */

.links:hover {
     color: rgb(189, 202, 8) !important;
}
/* Fin de Sobreescritura de NavBar*/


.title{
  font-size: 500%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: pixoleta;
  color: white;
  text-shadow: 3px 3px 0px #000000;
  text-shadow: 4px 4px 2px #000000;
 
}


.grid-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* margin-left: 10%;
  margin-right: 10%; */
  /* grid-auto-rows: 200px; */
}

.grid-item{
  text-align: center;
  color: whitesmoke;
  /* background-color: yellow;
  outline: solid orange 2px; */
}

.grid-item p{
  z-index: 10;
  position: relative;
  font-size: medium;
  padding: 2%;
  margin: 0;
  font-family: pixoleta;
  text-shadow: 3px 3px 0px #000000;
}

.grid-container figure{
   margin: 0;
   margin-top: 10%;
   display: flex;
   justify-content: center;
   /* background-color: red; 
   outline: solid blue 2px;  */
  
}

.grid-item figure img{
    position: relative;
    z-index: 0;
    width: 70%;
    border-radius: 5px;
    object-fit: contain;
    border: solid black 2px;
    box-shadow: 8px 9px 13px 0px #000000;
    transition-property: transform;
    transition-duration: 0.3s;
}

.grid-item figure img:hover{
  box-shadow: 0px 0px 18px 3px #FFFFFF;
  transform: rotate(360deg) scale(1.2) translateY(-10px);
}


@media screen and (max-width: 700px){
  body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title{
    font-size: 200%;
   margin-top: 3%;
    
   
  }
  

  .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}