.footer{
    /* background-color: red; */
    display: flex;
    height: 18%;
    width: 100%;
    position: fixed;
    justify-content: center;
    bottom: 0;
}

.footer a{
    display: flex;
    /* background-color: green; */
    /* width: 50%; */
    justify-content: center;
    
}

.footer img{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* transform: rotate(20deg); */
    position: relative;
    bottom: 37%;
    animation-name: Scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


@keyframes Scale {
    0%{
        transform:  scale(1);
    }

    100%{
        transform:  scale(1.4);
    }
  }


  @media screen and (max-width: 700px){
    .footer img{
       
        width: 60%;
      
    }
  
  }
  


