  header{
     padding: 0.5%;
     font-family: retro_gamingregular;
 }
 
 
 nav{
     height: 10vh;
     display: flex;
     justify-content: center;
     background: linear-gradient(90deg, rgba(22,8,22,1) 18%, rgba(59,5,84,1) 47%, rgba(14,2,19,1) 88%);
     background: linear-gradient(90deg, rgba(0,0,0,1) 3%, rgba(134,8,162,1) 50%, rgba(0,0,0,1) 100%);
     background: linear-gradient(90deg, rgba(0,0,0,0.773546918767507) 3%, rgba(138,21,163,0.4066001400560224) 50%, rgba(0,0,0,0.7679446778711485) 100%);
     border-radius: 15px;
    
 }

 .doge-container{
      display: inline-flex;
      position: relative;
      flex-grow: 0.5;
      top: 0;
      margin: 0;
      padding: 0;
 
     
      width: 65px;
      /* min-width: 250px; */
      text-align: center;
 }
 
 .doge{
     display: inline-flex;
     position: relative;
     top: 0;
     margin: 0;
     padding: 0;
     text-align: center;
 }

 .doge img{
    height: 100%;
    width: 100%; 
    object-fit: contain;
}
 
 .simbol{
    flex-grow: 0.2;
    flex-shrink: 3;
     justify-content: right;
     align-items: center;
     font-size: x-large;
     position: relative;
     top: 0;
     margin: 0;
     padding-right: 1%;
     width: 25px;
     text-align: center;
     display: none;
    
 }
 
 .simbol p{
     display: none;
     cursor: pointer;
 }
 
 
 nav ul{
     display: inline-flex;
     flex-grow: 3;
     flex-shrink: 2;
     flex-wrap: none;
     justify-content: left;
     width: 150px;
     margin: 0;
     padding: 0;
     position: relative;
     z-index: 10;
 }
 
 nav ul li{
     display: inline-flex;
     align-items: center;
     margin-left: 5%;
    
 }

 .list-social-media{
    justify-content: left;
    flex-grow: 0.5;
    position: relative;
    z-index: 1;
 }

 .list-social-media li{
     width: 13%;
}

/*PRESS START*/
 .list-social-media li:last-child{
     width: 24%;
 }

 .list-social-media li img{
     width: 100%;
     height: 100%;
     object-fit: contain;
 }

 
 /* nav ul li a */
 .links{
     text-decoration: none;
     font-size: large;
     color: white;
     text-shadow: 3px 3px 0px #000000;
 }

 .links:hover {
     color: rgb(206, 20, 190);
     text-shadow: 2px 2px 2px #06030A;
 }
 
 
 
 
 @media screen and (max-width: 700px){
     nav ul{
          display: none; 
         }
 
 
      .doge{
          flex-grow: 1;
          width: 40px;
          min-width: 50px;
      }
 
      .simbol{
          flex-grow: 2;
          width: 40px;
          color: antiquewhite;
          display: flex;
      }
 
      .simbol p{
          display: inline;
      }
 
      .doge img{
          height: 100%;
          width: 100%;
          margin-left: 2px;
      }
 
 }
   
 
 
 
 
