body{
   background-image: url("/images/BackgroundRoadmap.jpg");
   background-repeat: repeat;
   background-position: left center;
   background-attachment: fixed;
   background-size: contain;
}


.roadmap-content{
    display: flex;
    height: 100%;
    /* background-color: red; 
    outline: solid blue 2px;  */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;

}

.roadmap-content .roadmap-item{
     /* background-color: blue; 
    outline: solid yellow 2px;  */
    /* height: 640px;  */
    /* height: 100%; */
    width: 600px;
    margin-left: 20px;
    /* background: linear-gradient(90deg, rgba(178,95,230,0.773546918767507) 3%, rgba(162,63,180,0.4066001400560224) 50%, rgba(125,67,175,0.7679446778711485) 97%); */
    border-radius: 4px;
    
}

.roadmap-content .roadmap-item:last-child{
  width: 600px;
  /* height: 500px; */
  /* background: none; */
}

.roadmap-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    bottom: 15px;
    z-index: 0;
    /* background-color: orangered; */
}

.roadmap-item article{
    background-image: url('/images/backgroundContent.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 9px #000000;
}

.roadmap-item article:first-child{
    margin-bottom: 5%;
    margin-top: 7%;
}

.titule{
    /* height: 35%; */
    display: flex;
    margin: 0;
    /* background-color: green;
    outline: solid blue 2px; */
    align-items: center;
    justify-content: center;
    background-image: url('/images/Shiba.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: whitesmoke;
    font-family: retro_gamingregular;
}

/* .titule p{
     background-color: orangered; 
     margin-bottom: 3%;
    margin-top: 3%; 
} */

.img-titule p{
    margin-bottom: 6%;
    margin-top: 6%;
}

.titule-content{
    /* font-family: nightmare; */
    /* margin-bottom: 2px; */
    display: inline-block;
    /* height: 65%; */
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: yellow; */
    text-align: justify;
    color: whitesmoke;
    font-family: pixoleta;
}



@media screen and (max-width: 700px){
    body{
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
      }
  

    .roadmap-content .roadmap-item{
        margin: 0;
        object-position: top;
    }

    .roadmap-content .roadmap-item:last-child{
         height: 100%;
    }

    .roadmap-item img{
        object-position: top;
    }

}