.sidebar{
    position: fixed;
    display: inline-block;
    width: 70%; 
    height: 100%; 
    /* top: 0; */
    bottom: 0;
    left: -100%;
    border-radius: 5px;
    z-index: 20;
    /* background: linear-gradient(0deg, rgba(194,121,244,1) 1%, rgba(0,0,0,1) 88%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 3%, rgba(134,8,162,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.773546918767507) 3%, rgba(138,21,163,0.4066001400560224) 50%, rgba(0,0,0,0.7679446778711485) 100%); */
    background-image: url("/images/backgroundSideBar.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    font-family: retro_gamingregular;
}

.doge-sidebar{
    /* background-color: red; */
    display: flex;
    /* padding-right: 15%; */
    /* padding-left: 15%; */
    justify-content: center;
    margin-bottom: 3%;
    
}

.doge-sidebar img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}

.simbol-sidebar{
    display: block;
    color: white;
    font-size: x-large;
    padding-left: 3%;
}

.simbol-sidebar p{
    margin: 0;
}

.sidebar ul{
    list-style: none;
    /* background-color: aqua; */
    margin: 0;
    padding-left: 3%;
   
}

.sidebar ul li{
    /* outline: solid red 2px; */
    width: 100%;
    margin-top: 10px;
}

.sidebar ul li a{
    text-decoration: none;
}


.sidebar-list-social-media{
   /* background-color: red; */
   display: flex;
   justify-content: left;
   height: 6%;
   margin-top: 5%;
}

.sidebar-list-social-media li{
   display: flex;
   /* background-color: blue;
   outline: solid yellow 1px; */
   margin-left: 3%;
}

.sidebar-list-social-media li img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.sidebar-press_start{
    display: flex;
    justify-content: left;
    height: 6%;
    margin-top: 5%;
}

.sidebar-press_start a{
    margin-left: 3%;
}

.sidebar-press_start a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media screen and (min-width: 700px){

     .sidebar{
        display: none; 
        left: -100%;
        height: 100%;
    } 
}